/* - - - - - - - - - - - - - - - - - - - - -

 Title : 
 Author : 
 URL : http://

 Last Updated : 

- - - - - - - - - - - - - - - - - - - - - */

.wufoo .focussed {
	background-color: #fff;
}

.wufoo label.desc, .wufoo legend.desc {
	font-family: 'Helvetica', Arial, Sans-serif;
}